<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>コムチュアレールウェイ</title>
    <link rel = "stylesheet" href = "../static/css/index.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  </head>
  <body id ="fuga">
    <header>
      <div class="logo-title">
        <img src="../static/css/logo.png" alt="ロゴ" class="logo">
        <h1>コムチュアレールウェイ</h1>
      </div>      
      <nav>
          <ul>
              <li><a href="http://35.213.57.22/profile_ito">記念切符</a></li>
              <li><a href="http://35.213.57.22/answer">定期更新</a></li>
          </ul>
      </nav>
    </header>    
    <div class = "main">
      <h1 class="text-primary">ほげほげ社オンラインマーケット</h1>
      </br>
      <h2 class="text-secondary">ほげほげアカウントでログイン</h2>
      <form action="profile" method="POST">
        <p>会員番号        <input name="userid" type="text" size="30" maxlength="8"></p>
        <p>パスワード  <input name="userpass" type="password" size="30" maxlength="12"></p>
        <input class="btn btn-success" type="submit" value="ログイン">
      </form>
      </br>
      <p>文章</p>
      <p>文章</p>
      <p>文章</p>
      <p>文章</p>
      <p>文章</p>
      <p>文章</p>
      <p>文章</p>
      <p>文章</p>
      <p>文章</p>
      <p>文章</p>
      <p>文章</p>
      <p>文章</p>
      <p>文章</p>
      <p>文章</p>
      <p>文章</p>
      <p>文章</p>
      <p>文章</p>
      <p>文章</p>
      <p>文章</p>
      <p>文章</p>
      <p>文章</p>
      <p>文章</p>

      <h2 class="text-info">お知らせ</h2>
      <table border="1">
        <tr><th>掲載日</th><th>内容</th></tr>
        <tr><td>2021/09/01</td><td>ほげポイント3倍キャンペーンがスタート！</td></tr>
        <tr><td>2021/08/20</td><td>オンラインマーケットがいよいよオープンします！</td></tr>
        <tr><td>2021/07/07</td><td>あの「佐藤さんの野菜」が直販開始！</td></tr>
      </table>

    </div>
    <footer>
      <nav>
          <ul>
              <li><a href="http://35.213.57.22/profile_ito">記念切符</a></li>
              <li><a href="http://35.213.57.22/answer">定期更新</a></li>
          </ul>
      </nav>
    </footer>
  </body>
</html>
